@use "./variables" as *;

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.flex-row {
  display: flex;
  align-items: center;  
  gap: var(--space-sm);
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
